/* General styling */

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 10px;
  background: #f1f1f1;
  min-height: 190px;
  margin: 0;
}

body {
  width: 120px;
  margin: 0 auto;
  height: inherit;
  overflow: hidden;
  display: block;
  position: relative;
}

.bg-container button {
  border: 0;
  color: #f1f1f1;
  display:block;
  background-color: #6441a4;
  width: 100px;
  height: 30px;
  margin: 10px auto;
}

.position input{
  margin: 0;
}
